{% extends "report.html" %}
{% block title %}{% trans %}Chart of accounts{% endtrans %}{% endblock title %}
{% block header %}{% trans %}Chart of accounts{% endtrans %}{% endblock header %}
{% block report %}
    <table>
      <tr>
        <th>{% trans %}Account number{% endtrans %}</th>
        <th>{% trans %}Account name{% endtrans %}</th>
        <th>{% trans %}Account type{% endtrans %}</th>
      </tr>
      {% for r in result %}
      <tr class="account">
        <td class="number">{{ r.number[0] }}</td>
        <td class="name">{{ r.name[0] }}</td>
        <td class="type">{{ r.type[0] }}</td>
      </tr>
      {% endfor %}
    </table>
{% endblock %}
