{% extends "report.html" %}
{% block title %}{% trans %}Verification list{% endtrans %}{% endblock title %}
{% block header %}{% trans %}Verification list{% endtrans %}{% endblock header %}

{#<!-- filterdata displays chosen filterdata if received -->#}
{% block filterdata %}
<br /><div id="datefilter"><b id="current_year_filter-{{ filtername_daterange }}">{% trans %}Daterange{% endtrans %}: </b>{{ filterinfo_daterange }}</div>
<div id="seriesfilter"><b id="current_year_filter-{{ filtername_series }}">{% trans %}Series{% endtrans %}: </b><span id="filterinfo_series">{{ filterinfo_series }}</span></div>
<div id="verificationnumberfilter"><b id="current_year_filter-{{ filtername_verificationnumbers }}">{% trans %}Verification numbers{% endtrans %}: </b><span id="filterinfo_verificationnumbers">{{ filterinfo_verificationnumbers }}</span></div>

{% endblock filterdata %}

{% block report %}
    <table class="verification-list">
      <thead>
        <tr>
          <th>{% trans %}Number{% endtrans %}</th>
          <th>{% trans %}Name{% endtrans %}</th>
          <th>{% trans %}Date{% endtrans %}</th>
          <th>{% trans %}Text{% endtrans %}</th>
          <th class="debit">{% trans %}Debit{% endtrans %}</th>
          <th class="credit">{% trans %}Credit{% endtrans %}</th>
        </tr>
      </thead>
      {% for v in verifications %}
        <tbody id="verification-{{ v.id[0] }}">
          {% for t in v.transactions %}
            <tr>
              <td>{{ t.account[0].number[0] }}</td>
              <td>{{ t.account[0].name[0] }}</td>
              <td>{{ t.transaction_date[0] }}</td>
              <td>{{ t.text[0] }}</td>
              {% set amount = t.amount[0] %}
              {% if amount > 0 %}
                <td class="debit">{{ amount | thousand_sep }}</td>
                <td></td>
              {% else %}
                <td></td>
                <td class="credit">{{ -amount | thousand_sep }}</td>
              {% endif %}
            </tr>
          {% endfor %}
          <tr class="verification-summary">
            <td>{{ v.series[0].name[0] }} {{ v.number[0] }}</td>
            <td>{{ v.registration_date[0] }}</td>
            <td></td>
            <td></td>
            <td class="debit">{{ totals[(v.series[0], v.number[0])][0] | thousand_sep }}</td>
            <td class="credit">{{ totals[(v.series[0], v.number[0])][1] | thousand_sep }}</td>
          </tr>
        </tbody>
      {% endfor %}
    </table>
{% endblock %}
